@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  color: #333333;
}

img {
  width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.section {
  padding: 100px 0 120px;
}

@media (max-width: 767px) {
  .section {
    padding: 60px 0 80px;
  }
}

.section__title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  line-height: 82px;
  position: relative;
}

.section__title::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 4px;
  background: #3F51B5;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.common-button {
  display: inline-block;
  width: 304px;
  height: 56px;
  line-height: 56px;
  color: #fff;
  background: #3F51B5;
  text-decoration: none;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
}

.common-button::after {
  content: url(../img/button-arrow.svg);
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-top: 3px;
}

.header {
  background: #3F51B5;
  height: 100px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header__inner {
    padding: 0 16px;
  }
}

@media (max-width: 767px) {
  .header__inner {
    padding: 0 16px;
  }
}

.header__logo {
  width: 205px;
}

.header__logo img {
  display: block;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__nav li:not(:first-child) {
  margin-left: 40px;
}

.header__nav li a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.header__nav li a.is-active::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #E81919;
  position: absolute;
  bottom: -8px;
  left: 0;
}

.main-visual {
  height: 600px;
  width: 100%;
  background: url(../img/main.png) no-repeat center center/cover;
  position: relative;
}

.main-visual__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 16px;
}

.main-visual__title {
  font-size: 64px;
  font-weight: bold;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .main-visual__title {
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  .main-visual__title {
    font-size: 42px;
  }
}

.main-visual__text {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.main-visual__button {
  margin: 36px auto;
}

.main-visual__button a {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  width: 384px;
  height: 72px;
  line-height: 72px;
  background: #3F51B5;
  color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 6px #00000029;
          box-shadow: 0 3px 6px #00000029;
  text-decoration: none;
}

@media (max-width: 767px) {
  .main-visual__button a {
    width: 280px;
  }
}

.card {
  background: #EFEFEF;
}

.card__inner {
  padding: 0 16px;
}

.card__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 80px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .card__items {
    margin-top: 70px;
  }
}

@media (max-width: 767px) {
  .card__items {
    margin-top: 60px;
  }
}

.card__item {
  padding: 16px;
  background: #fff;
  border-radius: 4px;
}

@media (min-width: 1200px) {
  .card__item {
    width: calc(33.3% - 24px *2 / 3);
  }
  .card__item:not(:nth-child(3n + 1)) {
    margin-left: 24px;
  }
  .card__item:nth-child(n + 4) {
    margin-top: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .card__item {
    width: calc(50% - 24px * 1 / 2);
  }
  .card__item:not(:nth-child(2n + 1)) {
    margin-left: 20px;
  }
  .card__item:nth-child(n + 3) {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .card__item {
    width: 100%;
    margin-left: 0;
  }
  .card__item:nth-child(n + 2) {
    margin-top: 16px;
  }
}

.card__title {
  margin-top: 14px;
  font-size: 20px;
  font-weight: bold;
  color: #6F7579;
}

.card__text {
  margin-top: 14px;
  font-weight: bold;
  color: #6F7579;
  line-height: 1.5;
}

.news__inner {
  padding: 0 16px;
}

.news__items {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .news__items {
    padding: 0 16px;
  }
}

@media (max-width: 767px) {
  .news__items {
    margin-top: 60px;
    padding: 0 14px;
  }
}

.news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0 12px;
}

.news__item:nth-child(n + 2) {
  border-top: 1px solid #707070;
}

@media (max-width: 767px) {
  .news__item {
    display: block;
  }
}

.news__item__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 188px;
}

.news__date {
  width: 108px;
  padding-top: 3px;
}

.news__label a {
  width: 80px;
  font-weight: 700;
  color: #fff;
  background: #666666;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  text-decoration: none;
}

.news__label a.is-blue {
  background: #3F51B5;
}

.news__label a.is-red {
  background: #E81919;
}

.news__title {
  width: calc(100% - 188px);
  margin-left: 20px;
}

@media (max-width: 767px) {
  .news__title {
    width: 100%;
    margin-left: 0;
    margin-top: 14px;
  }
}

.news__title a {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  text-decoration: none;
}

.news__footer {
  margin-top: 60px;
  text-align: center;
}

@media (max-width: 767px) {
  .news__footer {
    margin-top: 30px;
  }
}

.news__link {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #E81919;
  font-weight: 700;
  padding-right: 14px;
  position: relative;
}

.news__link::after {
  content: "";
  width: 7px;
  height: 11px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/news-arrow.svg) no-repeat center center/contain;
}

.price {
  background: #EFEFEF;
}

.price__inner {
  padding: 0 16px;
}

.price__container {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .price__container {
    display: block;
    margin-top: 60px;
  }
}

.price__img {
  width: 37.83333%;
}

@media (max-width: 767px) {
  .price__img {
    width: 100%;
  }
}

.price__table__wrap {
  width: 58%;
  margin-left: auto;
}

@media (max-width: 767px) {
  .price__table__wrap {
    width: 100%;
  }
}

.price-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  font-weight: 700;
  border: 1px solid #707070;
}

.price-table th:first-child {
  width: 172px;
}

@media (max-width: 767px) {
  .price-table th:first-child {
    width: 120px;
  }
}

.price-table th,
.price-table td {
  border: 1px solid #707070;
  height: 58px;
  vertical-align: middle;
}

.price-table th {
  color: #fff;
  font-weight: 700;
  background: #999999;
  text-align: center;
}

.price-table td {
  background: #fff;
  text-align: right;
  padding-right: 24px;
}

.strong {
  color: #E81919;
  line-height: 1.2;
}

span {
  display: block;
  font-size: 13px;
  color: #333333;
}

.table__attention {
  font-size: 14px;
  margin-top: 12px;
}

.table__attention a {
  font-weight: 700;
}

.access__inner {
  padding: 0 16px;
}

.access__map {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
}

.map__iframe-wrap {
  width: 100%;
  position: relative;
  padding-top: 50%;
}

.map__iframe-wrap > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.access__info {
  margin: 16px auto 0;
  width: 800px;
  max-width: 100%;
}

.access__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.access__info-item dt {
  font-weight: 700;
  width: 104px;
}

.access__info-item dd {
  width: calc(100% - 104px);
}

.access__footer {
  margin-top: 30px;
  text-align: center;
}

.contact {
  background: #EFEFEF;
}

.contact__inner {
  padding: 0 16px;
}

.form__wrap {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
  background: #fff;
  padding: 60px;
}

@media (max-width: 767px) {
  .form__wrap {
    margin-top: 40px;
    padding: 32px 14px;
  }
}

.contact-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .contact-form__row {
    display: block;
  }
}

.contact-form__row + .contact-form__row {
  margin-top: 50px;
}

@media (max-width: 767px) {
  .contact-form__row + .contact-form__row {
    margin-top: 24px;
  }
}

.contact-form__label {
  width: 160px;
  padding: 5px 0 0;
  margin: 0;
}

@media (max-width: 767px) {
  .contact-form__label {
    width: 100%;
  }
}

.contact-form__label label {
  font-weight: 700;
  display: inline-block;
}

.contact-form__label label.is-required {
  display: inline-block;
  position: relative;
}

.contact-form__label label.is-required::after {
  content: "必須";
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background: #E81919;
  text-align: center;
  border-radius: 4px;
  padding: 2px 8px;
}

@media (max-width: 767px) {
  .contact-form__label label.is-required::after {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: calc(100% + 6px);
    width: 44px;
  }
}

.contact-form__input {
  width: calc(100% - 160px);
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .contact-form__input {
    display: block;
    width: 100%;
    margin-top: 10px;
  }
}

.contact-form__input [type="text"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: inherit;
  font-family: inherit;
  width: 100%;
  padding: 8px 14px;
}

.contact-form__input [type="text"]::-webkit-input-placeholder {
  color: #ccc;
}

.contact-form__input [type="text"]:-ms-input-placeholder {
  color: #ccc;
}

.contact-form__input [type="text"]::-ms-input-placeholder {
  color: #ccc;
}

.contact-form__input [type="text"]::placeholder {
  color: #ccc;
}

.contact-form__input [type="email"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: inherit;
  font-family: inherit;
  width: 100%;
  padding: 8px 14px;
}

.contact-form__input [type="email"]::-webkit-input-placeholder {
  color: #ccc;
}

.contact-form__input [type="email"]:-ms-input-placeholder {
  color: #ccc;
}

.contact-form__input [type="email"]::-ms-input-placeholder {
  color: #ccc;
}

.contact-form__input [type="email"]::placeholder {
  color: #ccc;
}

.contact-form__input select {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #fff url(../img/select-arrow.svg) no-repeat right 12px center/17px 14px;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: inherit;
  font-family: inherit;
  width: 100%;
  padding: 8px 14px;
}

.contact-form__input select:invalid {
  color: #ccc;
}

.contact-form__input select option {
  color: #707070;
}

.contact-form__input textarea {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: inherit;
  font-family: inherit;
  width: 100%;
  height: 240px;
  padding: 8px 14px;
  resize: none;
}

.contact-form__input textarea::-webkit-input-placeholder {
  color: #ccc;
}

.contact-form__input textarea:-ms-input-placeholder {
  color: #ccc;
}

.contact-form__input textarea::-ms-input-placeholder {
  color: #ccc;
}

.contact-form__input textarea::placeholder {
  color: #ccc;
}

.contact-form__radio {
  margin-top: 30px;
}

.contact-form__radio [type="radio"] {
  display: none;
}

.contact-form__radio span {
  display: inline-block;
  padding-left: 26px;
  position: relative;
  margin-right: 36px;
  padding-top: 1px;
  font-size: 16px;
}

@media (max-width: 767px) {
  .contact-form__radio span {
    margin-right: 10px;
  }
}

.contact-form__radio span::before {
  content: "";
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.contact-form__radio span::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #3F51B5;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5px;
  display: none;
}

.contact-form__radio [type="radio"]:checked + span::after {
  display: block;
}

.contact-form__check {
  margin-top: 40px;
  text-align: center;
}

.contact-form__check [type="checkbox"] {
  display: none;
}

.contact-form__check span {
  display: inline-block;
  padding-left: 50px;
  position: relative;
  font-size: 16px;
}

.contact-form__check span::before {
  content: "";
  width: 25px;
  height: 25px;
  background: #fff;
  border: 1px solid #707070;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact-form__check span::after {
  content: "";
  width: 8px;
  height: 20px;
  border-right: 2px solid #3F51B5;
  border-bottom: 2px solid #3F51B5;
  position: absolute;
  left: 9px;
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: none;
}

.contact-form__check [type="checkbox"]:checked + span::after {
  display: block;
}

.contact-form__check a {
  font-weight: 700;
}

.contact__footer {
  margin-top: 30px;
  text-align: center;
}

.contact__footer [type="submit"] {
  border: none;
  width: 345px;
  height: 56px;
  line-height: 56px;
  background: #3F51B5 url(../img/button-arrow.svg) no-repeat right 12px center/17px 16px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}

@media (max-width: 767px) {
  .contact__footer [type="submit"] {
    width: 300px;
  }
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333));
  background: linear-gradient(to bottom, #666666, #333333);
  padding: 60px 0 24px;
}

@media (max-width: 767px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 18px;
  }
}

.footer__inner {
  padding: 0 16px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .footer__content {
    display: block;
  }
}

.footer__company {
  width: 30%;
}

@media (max-width: 767px) {
  .footer__company {
    width: 100%;
  }
}

.footer__logo img {
  width: 205px;
  max-width: 100%;
}

.footer__address {
  margin-top: 32px;
}

@media (max-width: 767px) {
  .footer__address {
    margin-top: 18px;
  }
}

.footer__address p {
  display: block;
  font-size: 14px;
  color: #fff;
  line-height: 24px;
}

.footer__nav {
  width: 45%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .footer__nav {
    width: 100%;
    margin-top: 32px;
  }
}

.footer__nav__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__nav__lists li:not(:first-child) {
  margin-left: 40px;
}

@media (max-width: 767px) {
  .footer__nav__lists li:not(:first-child) {
    margin-left: 20px;
  }
}

.footer__nav__lists li a {
  text-decoration: none;
  color: #fff;
}

.footer__sns-link {
  width: 25%;
}

@media (max-width: 767px) {
  .footer__sns-link {
    width: 100%;
    margin-top: 30px;
  }
}

.footer__sns__items {
  text-align: right;
}

@media (max-width: 767px) {
  .footer__sns__items {
    text-align: center;
  }
}

.footer__sns__items li {
  display: inline-block;
}

.footer__sns__items li:not(:first-child) {
  margin-left: 16px;
}

.footer__sns__items li a {
  text-decoration: none;
}

.footer__sns__items li img {
  width: 30px;
  height: 30px;
}

.copy {
  margin-top: 46px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.totop {
  position: fixed;
  right: 24px;
  bottom: 24px;
}

@media (max-width: 767px) {
  .totop {
    right: 12px;
    bottom: 12px;
  }
}

.totop a {
  text-decoration: none;
}

.totop a img {
  width: 60px;
  height: 60px;
}

@media (max-width: 767px) {
  .totop a img {
    width: 40px;
    height: 40px;
  }
}
